{% extends 'story7/base.html' %}
{% load static %}

{% block title %}Story9{% endblock %}
{% block body %}
{% if not user.is_authenticated %}
<div class="jumbotron">
    <h1 class="display-4">Selamat Datang!</h1>
    <hr class="my-4">
    <p>Silahkan login untuk melihat isi konten</p>
    <a class="btn btn-light btn-lg" href="{% url 'story7:login'%}" role="button">LOGIN</a>
</div>
{% endif %}
{% if user.is_authenticated %}
<div class="jumbotron">
    <h1 class="display-4">Selamat Datang {{ user }}!</h1>
    <hr class="my-4">
    <p>Terima kasih sudah berkunjung <br> Jangan lupa untuk logout ^_^</p>
    <a class="btn btn-light btn-lg" href="{% url 'story7:logout'%}" role="button">LOGOUT</a>
</div>
{% endif %}
{% if user.is_authenticated %}
<h1>Get To Know Ilma</h1><br>
<div class="container">
    <div class="card mb-3">
        <div class="card-header">
            <h3>Aktivitas Saat Ini <button type="button" class="btn btn-light btn-sm up ">Up</button>
                <button type="button" class="btn btn-light btn-sm down">Down</button> </h3>
        </div>
        <div id="ac_1" class="card-body">Aktivitas yang saya lakukan saat ini adalah mengerjakan tugas ;-; ,
            belajar, dan
            rapat. aka KURA-KURA. Got no time to play some games bruh.
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h3>Pengalaman Organisasi <button type="button" class="btn btn-light btn-sm up">Up</button>
                <button type="button" class="btn btn-light btn-sm down">Down</button></h3>
        </div>
        <div id="ac_2" class="card-body">
            <li>Ketua Koordinator Harian II Subseksi Kemasyarakatan SMAN8 Jakarta</li><br>
            <li>Ketua Ceramah Keputrian Subseksi Rohani Islam SMAN8 Jakarta</li><br>
            <li>Staf BEM Pengmas Fasilkom UI 2020</li>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h3>Pengalaman Kepanitiaan <button type="button" class="btn btn-light btn-sm up">Up</button>
                <button type="button" class="btn btn-light btn-sm down">Down</button></h3>
        </div>
        <div id="ac_3" class="card-body">
            <li>Staf Mentor dan Peserta BETIS 2020</li><br>
            <li>Project Officer BETIS 2021</li><br>
            <li>Humas Bazar For Charity</li><br>
            <li>Humas Bakti Sosial In Tesis</li><br>
            <li>Acara 8Mission</li><br>
            <li>Humas Lampion</li><br>
            <li>Humas 8Peduli Kasih</li><br>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h3>Prestasi <button type="button" class="btn btn-light btn-sm up">Up</button>
                <button type="button" class="btn btn-light btn-sm down">Down</button></h3>
        </div>
        <div id="ac_4" class="card-body">
            ZERO
        </div>
    </div>
</div>
{% endif %}
{% endblock %}