{% extends 'story7/base.html' %}
{% block title %}Exists{% endblock %}
{% block body %}
<div class="alert alert-warning" role="alert" style="text-align: center">
    <h1>Username already <strong>exists</strong>! Please try another one</h1><br>
    <a class="btn btn-warning btn-lg" href="{% url 'story7:register'%}" role="button">SIGN UP</a>
</div>
{% endblock %}