{% extends 'story7/base.html' %}
{% block title %}Form Login{% endblock %}
{% block body %}
<div class="container">
    <form class="formLogin align-self-center" action="" method="POST">
        {% csrf_token %}
        <h1 style="text-align: center;">LOGIN</h1>
        <div class="form-group">
            <label for="username">
                {{form.username.label}}
            </label>
            {{form.username}}
        </div>
        <br>
        <div class="form-group">
            <label for="password">
                {{form.password.label}}
            </label>
            {{form.password}}
        </div>
        <br>
        <button type="submit" style="width: 20%;" class="btn btn-dark">Submit</button>
    </form>
    <a href="{% url 'story7:register'%}">Didn't have account?</a>
    {% if status == 'failed' %}
    <div class="alert alert-danger" role="alert" style="text-align: center">
        <h1 style="text-align: center">
            Incorrect Username or Password.
        </h1>
    </div>
</div>
{% endif %}
{% endblock %}