{% extends 'story7/base.html' %}
{% block title %}Form Register{% endblock %}
{% block body %}
<div class="container">
    <form class=" align-self-center" action="" method="POST">
        {% csrf_token %}
        <h1 style="text-align: center;">REGISTER</h1>
        {{form}}
        <br>
        <button type="submit" style="width: 20%;" class="btn btn-dark">Submit</button>
    </form>

    {% if form.errors %}
    <div class="error">
        <p><span>Terjadi Error!</span></p>
        <ul>
            {% for key,value in form.errors.items %} {% for error in value %}
            <li>{{ error }}</li>
            {% endfor %} {% endfor %}
        </ul>
    </div>
    {% endif %}
    <a href="{% url 'story7:login'%}">Have an account?</a>
</div>
{% endblock %}