body{
    background-color: darkseagreen;
}
.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "profile profile"
    "about education";
    grid-gap:0.2em;
    
    

}
.logo{
    height: 40px;
    position: relative;
    object-fit: cover;
    border-radius: 70%;
}
.navbar{
    background-color: cornsilk;
}
.navbar a{
    font-size: 20px;
}

.profile{
    background-color: darkseagreen;
    grid-area: profile;
    text-align: center;

}

.about{
    background-color: cornsilk;
    grid-area: about;
    border: 5px solid darkseagreen;
}

.education{
    background-color: #fff8dc;
    grid-area: education;
    border: 5px solid #8fbc8f;
}

.circular-image {
    object-fit: cover;
    border-radius: 50%;
    width: 250px;
    height: 250px;

}

@media only screen and (max-width:700px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "profile"
        "about"
        "education";
    }

}

