body{
    background-color: darkseagreen;
}
.logo{
    height: 40px;
    position: relative;
    object-fit: cover;
    border-radius: 70%;
}
.navbar{
    background-color: cornsilk;
}
.navbar a{
    font-size: 20px;
}

.profile{
    text-align: center;
    margin-top: -120px;
}
.profile p{
    font-size: 25px;
}
.profile .container{
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url('/static/homepage/Pic3.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.circular-image {
    margin-top: 200px;
    position: relative;
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.about .container, .education .container, .page-footer .container, .skills .container{
    background-color: cornsilk;
    border-radius: 10px;
}
.ig{
    object-fit: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
}
.about a{
    color: #000;
}
.page-footer a{
    margin-left: 80%;
}

.skills .bar{
    margin: 40px 0;
}
.skills .bar:first-child{
    margin-top: 0px;
}

.skills .bar .info span{
    font-size: 20px;
    font-weight: 500;
}
.skills .bar .progress-line{
    position: relative;
    height: 30px;
    width: 100%;
    background:#8fbc8f;
    border-radius: 20px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
    0px 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0,1)forwards;
}

.bar .progress-line span{
    height: 100%;
    width: 80%;
    background: #419F41;
    position: absolute;
    border-radius: 20px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0,1)forwards;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.progress-line.python span{
    width: 60%;
}
.progress-line.java span{
    width: 70%;
}
.progress-line.leadership span{
    width: 70%;
}

.bar .progress-line span::before{
    position: absolute;
    content: '';
    right: 0;
    top: -15px;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-bottom-width:0px;
    border-right-width: 0px;
    border-top-color:#000;
    opacity: 0;
    animation: showText 0.5s 1.5s linear forwards;

}

.bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -45px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: #000;
    padding: 3px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText 0.5s 1.5s linear forwards;

}
@keyframes showText{
    100%{
        opacity: 1;
    }
}
.progress-line.python span::after{
    content: '60%';
}
.progress-line.java span::after{
    content: '70%';
}
.progress-line.leadership span::after{
    content: '70%';
}