{% extends "base.html" %}

{% block title %}
{{page_title}}
{% endblock title %}

{% block contents %}
<h1>{{page_title}}</h1>
<table class="table ">
    <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Course</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for course in all_course %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><a href="{% url 'homepage:detail' course.id %}">{{course.course}}</a></td>
            <td><a class="btn btn-danger" href="{% url 'homepage:delete' delete_id=course.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href="{% url 'homepage:create'%}">Add Course</a>
{% endblock contents %}