{% extends "base.html" %}

{% block title %}
{{page_title}}
{% endblock title %}

{% block contents %}
<form method="POST">
    {% csrf_token %}
    <table>
        {{course_form.as_table}}
    </table>
    <button type="Submit">Submit</button>
</form>
{% endblock contents %}