{% extends "base.html" %}

{% block title %}
{{page_title}}
{% endblock title %}

{% block contents %}
<h1>{{course.course}}</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Lecturer</th>
            <th scope="col">SKS</th>
            <th scope="col">Description</th>
            <th scope="col">Term</th>
            <th scope="col">Class Room</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{course.lecturer}}</td>
            <td>{{course.sks}}</td>
            <td>{{course.desc}}</td>
            <td>{{course.term}}</td>
            <td>{{course.classroom}}</td>
        </tr>
    </tbody>
</table>
{% endblock contents %}

