{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'homepage/style.css' %}" />
    <link rel="shortcut icon" href="#">
    <title>Hello</title>
</head>

<body>
    {% include "navbar.html" %}
    <div class="profile">
        <div class="container">
            <img class="circular-image" src="{% static 'homepage/Ilma.jpg' %}" alt="Photo of me">
            <h1 class="display-4">Ilma Alpha Mannix</h1>
            <p class="lead">Computer Science Student at University of Indonesia</p>
        </div>
    </div>
    <div class="about" id="about">
        <div class="container">
            <h1>About</h1>
            <p>Hello everyone! <br>This is Ilma and I just wanna say Welcome to my page! I am a second year computer
                science student at University of Indonesia. My NPM is 1906351045 As a comp science student, I have
                a great interest in Web Development, besides that I also like sleeping.<br>Don't forget to check out
                my<a href="https://www.instagram.com/ilmamannix/"> social media</a> :)</p>
        </div>
    </div>

    <div class="education" id="education">
        <div class="container">
            <h1>Education</h1>
            <ul style="list-style-type:square;">
                <li>Elementary School</li>
                <p>SDIT Abata <br> SDN 09 Pg Jakarta</p>
                <li>Junior High School</li>
                <p>SMPN 19 Jakarta</p>
                <li>High School</li>
                <p>SMAN 8 Jakarta</p>
            </ul>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer" id="contact">
        <div class="container">
            <h1>Contact <a href="https://www.instagram.com/ilmamannix/">
                    <img class="ig" src="{% static 'homepage/ig.png' %}">
                </a></h1>
        </div>
    </footer>
    <!-- Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>