{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'homepage/style.css' %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="#">
    <title>Hello</title>
</head>

<body>
    {% include "navbar.html" %}
    <div class="profile">
        <div class="container">
            <img class="circular-image" src="{% static 'homepage/Ilma.jpg' %}" alt="Photo of me">
            <h1 class="display-4">Ilma Alpha Mannix</h1>
            <p class="lead">Computer Science Student at University of Indonesia</p>
        </div>
    </div>

    <div class="skills" id="skill">
        <div class="container">
            <h1>Skill</h1>
            <div class="bar">
                <div class="info">
                    <span>PYTHON</span>
                </div>
                <div class="progress-line python"><span></span></div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>JAVA</span>
                </div>
                <div class="progress-line java"><span></span></div>
            </div>
            <div class="bar">
                <div class="info">
                    <span>LEADERSHIP</span>
                </div>
                <div class="progress-line leadership"><span></span></div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer" id="contact">
        <div class="container">
            <h1>Contact <a href="https://www.instagram.com/ilmamannix/">
                    <img class="ig" src="{% static 'homepage/ig.png' %}">
                </a></h1>
        </div>
    </footer>
    <!-- Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>